.caht-main
  .chat-main__group_info
    %ul 
      %li
        test 
        %p
          Member: masa
    =link_to "Edit", "#",class: "chat-main__group_info-edit"
  .chat-main__message-list
  .chat-main__message-form