* {
  box-sizing: border-box;
}

$text_color:#ffffff;
$link_color:#38aef0;
@mixin display() {
  display: flex;
  justify-content: space-between;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  float: left;
  color: $text_color;
  font-weight: bold;
  &_user_name{
    height: 100px;
    display: flex;
    .top-items{
      height: 20px;
      width: 260px;
      margin: auto;
      @include display();
      align-items: center;
      &__name{
        font-size: 16px;
      }
      &__icons a{ 
        width: 60px;
        color: $text_color;
        text-decoration: none;
        &-edit{
          padding-right: 5px;
        }
      }
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    font-size: 15px;
    li {
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 40px;
      a {
        color: $text_color;
        text-decoration: none;
      }
      p {
        padding-top: 5px;
        font-size: 11px;
      }
    }
  }
}


.chat-main {
  background-color: $text_color;
  width: calc(100vw - 300px);
  float: right;
  &__group_info{
    border-bottom: 1px solid #eeeeee;
    height: 100px;
    @include display();
    li {
      color: #333333;
      font-size: 20px;
      padding-left: 40px;
      padding-top: 35px;
      p {
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
      }
    } 
    &-edit{
      width: 72px;
      height: 40px;
      font-size: 16px;
      text-decoration: none;
      color: $link_color;
      border: 1px solid $link_color;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      margin-right: 40px;
    }
  }
  &__message{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: auto;
    padding-left: 40px;
    padding-top: 35px;
    &-list{
      display: flex;
      &-name{
        display: block;
        font-weight: bold;
        font-size: 16px ;
        color:#1a1515;
      }
      &-date{
        font-size: 12px ; 
        color: #999999;
        margin-left: 10px;
      }
    }
    &-list-comment {
      font-size: 14px ;
      color:#434A54;
      margin-top: 12px;
      margin-bottom: 10px;
    }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    display: flex;
    .new_message{
      display: flex;  
      position: relative;
      .input-box-text{
        height: 50px;
        width: calc(100vw - 510px) ;
        padding-left: 10px;
        color: #434a54;
        border-style: none;
      }
      .input-box-image{
        position: absolute;
        top: 8px;
        right: 130px;
        cursor: pointer;
        font-size: 1.5rem;

        &-file{
          display: none;
        }
      }
    }
    &-btn{
      background-color: $link_color;
      color: white;
      border-style: none;
      margin-left: 20px;
      padding: 0 30px;
      text-align: center;
    }
  }
}

.message{
  padding-bottom: 46px;
}
